.weather-wrapper {
  background: linear-gradient(180deg, rgba(244, 249, 253, 0.35) 0%, rgba(245, 245, 247, 0.35) 100%);
  backdrop-filter: blur(38.9161px);
  width: 100%;
  padding: 50px;
}
.weather-wrapper__block {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.dark .weather-wrapper {
  background: linear-gradient(106.38deg, #4D547A 2.01%, #2B2F48 99.47%);
  box-shadow: 16.736px 16.736px 62px rgba(29, 31, 45, 0.42), -10px -10px 56px rgba(133, 138, 174, 0.38);
  color: #F4F2F2;
}

@media screen and (max-width: 480px) {
  .weather-wrapper {
    margin: 50px auto;
    max-width: 450px;
    padding: 20px 30px;
    border-radius: 50px;
  }
  .weather-wrapper__block {
    flex-direction: column;
    align-items: center;    
  }
}